
<section>
  <div class="slider-2">
    <h2>Slide 2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In itaque minus veniam reprehenderit illum assumenda omnis aperiam inventore excepturi tenetur rem consequuntur dolor iste nisi odit alias ad vero magnam.</p>
  </div>
  <div class="slider-image">

  </div>
  <div class="slider-1">
    <h2>Slide 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In itaque minus veniam reprehenderit illum assumenda omnis aperiam inventore excepturi tenetur rem consequuntur dolor iste nisi odit alias ad vero magnam.</p>
  </div>
  </section>
