<section class="articles">
  <article>
    <div class="article-wrapper">
      <figure>
        <img [src]="'../../../assets/success/' + program.photo" alt="{{ program.photo }}" class="photo">      </figure>
      <div class="article-body">
        <h2 class="listing-heading">{{ program.name }}</h2>
        <p class="listing-location"> {{ program.description }}</p>

        <a routerLink="/program-detail/{{program.name}}/{{program.id}}">Read all about it
        </a>
      </div>
    </div>
  </article>
  <article>
  </article>
</section>
