* {
	box-sizing: border-box;
}

img {
	display: block;
	width: 100%;
}

h2 {
	margin: 0;
	font-size: 1.4rem;
}

@media (min-width: 50em) {
	h2 {
		font-size: 1.8rem;
	}
}
//
.formm{
  display:flex;
  justify-content:  center;

}
input{
  --shadowColor:12 60% 40%;
  display: flex;
	flex-wrap: wrap;
	background: wheat;
	box-shadow: 0.15rem 0.15rem 0 hsl(var(--shadowColor) / 1);
	border-radius: 0.8rem;
	border: 0.3rem solid;
  margin-right: 10px;
}
button{
  cursor: pointer;
  --shadowColor:12 60% 40%;
  display: flex;
	flex-wrap: wrap;
	background: orange;
	box-shadow: 0.15rem 0.15rem 0 hsl(var(--shadowColor) / 1);
	border-radius: 0.8rem;
	border: 0.3rem solid;
  // min-height: 34rem;
}
button:hover {
  font-weight: bold;
  scale: 1.05;
  color: rgb(0, 0, 0);
}

button:active {
  scale: 0.95;
}
.cta {
	--shadowColor: 12 60% 40%;
	display: flex;
	flex-wrap: wrap;
	background: wheat;
	width: 100%;
	box-shadow: 0.65rem 0.65rem 0 hsl(var(--shadowColor) / 1);
	border-radius: 0.8rem;
	border: 0.5rem solid;
  min-height: 34rem;
}

.cta img {
	aspect-ratio: 3 / 2;
	object-fit: cover;
	flex: 1 1 300px;
	outline: 0.5rem solid;
}

.cta__text-column {
	padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
	flex: 1 0 50%;
}

.cta__text-column > * + * {
	margin: min(1.5rem, 2.5vw) 0 0 0;
}

.cta a {
	display: inline-block;
	color: black;
	padding: 0.5rem 1rem;
	text-decoration: none;
	background: orange;
	border-radius: 0.6rem;
	font-weight: 700;
	border: 0.35rem solid;
}
  .hero{
    margin : 15%;
    margin-top:5%;
    font-family: "Open Sans", sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
align-content: space-between;

  }
