// Variables //

$input-height: 40px;
$input-radius: 2px;
$input-margin-vert: 4px;
$input-inner-padding: 0 12px;

$input-red-border: 2px solid tomato;
$col-midgrey: hsl(0, 0, 50);
$col-lightgrey: #ddd;

// Styling //
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  margin: 10px 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}


.cf:after {
  content:"";
  display:table;
  clear:both;
}

// grid
.col-2, .col-3 {
  float: left;
  padding: 7px;
  min-height: 85px;
  
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33%;
  //min-height: 82px;
}

// app styling
#app-wrapper {
  position: relative;
  text-align: center;
  padding: 100px 0;
}

#app {
  display: inline-block;
  text-align: left;
  background: white;
  border-radius: $input-radius;
  width: 720px;
  max-width: 96%;
  overflow: auto;box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.app-inner-cont {
  padding: 10px;
}

#intro-cont {
  background: tomato;
  
  p, h1 {
    color: white;
  }
}

#input-cont {
  
  padding: 25px 10px;
  
  fieldset {
    border: 0;
    margin-top: 2px;
    
    div.radio-wrapper {
      display: block;
      width: 100%;
      padding: 4px;
      background: $col-lightgrey;
      height: $input-height;
      margin: $input-margin-vert 0;
      border-radius: $input-radius;
      overflow: hidden;
    }
  }
  
  label, legend {
    font-weight: bolder;
    font-size: 0.9em;
    color: darkslategray;
    
    &.radio {
      position: relative;
      width: 50%;
      height: 100%;
      border-radius: 3px;
      padding: 8px 0;
      background: rgba(0, 0, 0, 0);
      display: inline-block;
      float: left;
      text-align: center;  
      transition: all 0.15s;
      
      &:hover {
        cursor: pointer;
      }
    }
  }
  
  input[type=radio] {
    visibility: hidden;
    position: absolute;
    
    &:checked + label {
      background: #000000;
      color: white;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }
  }
  
  input[type=number], select {
    width: 100%;
    margin: $input-margin-vert 0;
    height: $input-height;
    border-radius: $input-radius;
    border: 0;
    background: $col-lightgrey;
    padding: $input-inner-padding;
    font-weight: bold;
    text-align: left;
  }
}

#btn-calc {
  width: 33%;
  display: block;
  margin: 20px auto 0 auto;
  font-weight: bold;
  height: 40px;
  background: #000000;
  border-radius: $input-radius;
  border: 0;
  color: white;

  &:hover {
    cursor: pointer;
    background: lighten( #f9532d, 7% );
  }
}

#output-cont {
  border-top: 1px solid #ddd;
  color: white;
  
  .col-2 {
    background: #f9522dd7;
    text-align: center;
    
    &:nth-child(1) {
      border-right: 1px solid white;
    }
  }
  
  h3 {
    font-size: 1em;
    opacity: 0.8;
  }
  
  .output-data {
    font-size: 2.3em;
    padding: 8px 0;
    
    
  }
}

@media (max-width: 440px) {
  .col-3 {
    width: 50%;
  }
  
  #btn-calc {
    width: 55%;
  }
}

@media (max-width: 300px) {
  .col-3 {
    width: 100%;
  }
  
  .col-2 {
    width: 100%;
    border: 1px solid white;
  }
}