<header>
  <div class="navbar">
    <div class="logo"><a href="">Vikings Gym</a></div>
    <ul class="links">
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Programs</a></li>
      <li><a href="">etc</a></li>
    </ul>
    <a href="" class="action_btn">Get Started</a>
    <div class="toggle_btn" (click)="toggleDropdown()">
      <i class="fa-solid" [ngClass]="{'fa-bars': !isDropdownOpen, 'fa-xmark': isDropdownOpen}"></i>
    </div>
    <div class="dropdown_menu" [ngClass]="{'open': isDropdownOpen}">
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Programs</a></li>
      <li><a href="">etc</a></li>
      <li><a href="" class="action_bt">Get Started</a></li>
    </div>
  </div>
</header>
