* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: antiquewhite;
  font-size: 1rem;
}

a:hover {
  color: orange;
}

